{
  "extends": [
    "airbnb-typescript/base",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": ["off"],
    "no-use-before-define": [2, { "functions": false }],
    "no-unused-vars": ["error", { "vars": "all", "args": "none", "ignoreRestSiblings": true }],
    "no-underscore-dangle": 0,
    "no-console": 0,
    "no-param-reassign": [2, { "props": false }],
    "prefer-default-export": "off",
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "never"
    }],
    "prettier/prettier": ["error", {
      "semi": false,
      "singleQuote": true,
      "trailingComma": "es5",
      "bracketSpacing": false
    }]
  },
  "env": {
    "mocha": true,
    "es6": true,
    "node": true
  }
}
