{
  "extends": [
    "react-app",
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-use-before-define": [2, { "functions": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/sort-prop-types": 2,
    "react/jsx-sort-props": 1,
    "react/jsx-one-expression-per-line": 0,
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": [2, { "custom": "ignore" }],
    "no-unused-vars": ["error", { "vars": "all", "args": "none", "ignoreRestSiblings": true }],
    "no-underscore-dangle": 0,
    "no-console": 0,
    "no-param-reassign": [2, { "props": false }],
    "prettier/prettier": ["error", {
      "semi": false,
      "singleQuote": true,
      "trailingComma": "all",
      "bracketSpacing": false
    }]
  },
  "env": {
    "mocha": true,
    "browser": true
  }
}