apiVersion: v1
kind: Service
metadata:
  name: simple-paste-client
  labels:
    app: simple-paste-client-service
spec:
  type: LoadBalancer
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 80
  selector:
    app: simple-paste-client
