name: SimplePaste Client (Unit)
on: [push, pull_request]

jobs:
  unittest:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [12.x]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./simple-paste-client/simple-paste
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install dependencies
        run: npm install
      - name: run unit tests
        run: npm test
        env:
          CI: true
